<!DOCTYPE html>

<html>

  <head>

    {{>layout/head}}

  </head>

  <body class="page--default">

    {{{body}}}

  </body>
  
  <link 
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"  rel="stylesheet" media="none" onload="if(media!='all')media='all'" >
 
</html>
