<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>


<script>
        tracks = [
            {{#each songs}}
                {
                    "track": {{@index}},
                    "name": "{{name}}",
                    "length": " ",
                    "file": " {{{url}}} "
                },
            {{/each}}
        ]
</script>

<script src="/js/listen/player.js"></script>

<div class="fullscreen-background">



</div>

{{>components/logo}}


<div class="player">
    
    <br> <br> 
    <div class="container">
        <div class="column center">
            <h1>EP</h1>
             <h6>Get the final version on <a href="https://thebrokenarrowcomplex.bandcamp.com/releases">bandcamp</a>  </h6> 
        </div>
        <div class="column add-bottom">
            <div id="mainwrap">
                <div id="nowPlay">
                    <span class="left" id="npAction">Paused...</span>
                    <span class="right" id="npTitle"></span>
                </div>
                <div id="audiowrap">
                    <div id="audio0">
                        <audio preload id="audio1" controls="controls">Your browser does not support HTML5 Audio!</audio>
                    </div>
                    <div id="tracks">
                        <a id="btnPrev">&laquo;</a>
                        <a id="btnNext">&raquo;</a>
                    </div>
                </div>
                <div id="plwrap">
                    <ul id="plList"></ul>
                </div>
            </div>
        </div>
        <div class="column add-bottom center">
            <p>EP</p>
        </div>
    </div>
</div>
