//the occasional app/page specific rules that don't fit within reusable classes
@import '../components/background';
@import '../colors';

.pitch {
  font-size: 24px;
  text-align: center;
}

html {
  // @extend .blue-background;
  background-color: $background-color;
  padding: 0 2vw;
}