@import "colors";

//stuff like breakpoints, sizes, etc
$default-spacing: 1rem;



$mobile-break: 600px;
$tablet-break: 768px;
$desktop-break: 1024px;
$huge-break: 1200px; 

//dirty calculation for keeping the content below the image at first
//changed to vh instead
$image-margin : 60vh;