article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

html, body {
  height: 100%; }

body {
  color: #a7a7a7;
  font-size: 16px;
  position: relative;
  background-color: black;
  max-width: 1200px;
  margin: auto;
  line-height: 1.4; }

.page {
  display: flex; }

a, a:visited {
  color: #a7a7a7; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400; }

.is-disabled {
  cursor: auto;
  opacity: 0.5;
  user-select: none; }

.row {
  display: flex;
  margin: 0.5em 0; }

.center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.right {
  -webkit-box-pack: right;
  -webkit-justify-content: right;
  -ms-flex-pack: right;
  justify-content: right;
  text-align: right; }

.col-1of2 {
  flex-basis: 50%;
  max-width: 50%; }
  @media (max-width: 600px) {
    .col-1of2 {
      flex-basis: 100%;
      max-width: 100%; } }

.col-1of3 {
  flex-basis: 33%;
  max-width: 33%; }
  @media (max-width: 600px) {
    .col-1of3 {
      flex-basis: 100%;
      max-width: 100%; } }

.no-top-margin {
  margin-top: 0; }

.no-bottom-margin {
  margin-bottom: 0; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.arrowbody-inline {
  background: url('data:image/svg+xml;utf8,   <svg version="1.0" xmlns="http://www.w3.org/2000/svg"    width="387.000000pt" height="375.000000pt" viewBox="0 0 387.000000 375.000000"    preserveAspectRatio="xMidYMid meet">   <metadata>   Created by potrace 1.13, written by Peter Selinger 2001-2015   </metadata>   <g transform="translate(0.000000,375.000000) scale(0.100000,-0.100000)"  fill="#a7a7a7" stroke="none">   <path d="M1514 1983 c-462 -746 -840 -1359 -841 -1362 -1 -3 14 -16 33 -28   l34 -22 263 128 c1175 573 1528 743 1541 738 7 -3 16 -16 19 -29 3 -13 58   -257 123 -543 64 -286 120 -524 124 -528 10 -12 90 11 90 25 0 11 -194 876   -207 923 -4 15 3 12 31 -15 l36 -34 36 35 36 36 -64 60 c-35 33 -75 71 -89 84   -23 21 -48 89 -33 89 3 0 50 -36 103 -80 54 -44 102 -80 107 -80 16 0 67 72   57 79 -6 3 -249 199 -541 435 l-530 428 37 62 c21 33 156 252 300 485 144 233   261 424 259 426 -18 12 -77 45 -80 45 -3 0 -383 -611 -844 -1357z m584 -133   c191 -177 348 -324 350 -328 2 -7 -1568 -775 -1573 -770 -3 3 868 1417 873   1418 1 0 159 -144 350 -320z"/> </g> </svg>') no-repeat center !important;
  background-size: contain !important; }

.header {
  color: #a7a7a7;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 2vh;
  padding-top: 2vh;
  position: relative;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 4vw;
  text-align: center; }
  @media (min-width: 1200px) {
    .header {
      margin-top: 3vh; } }
  @media (min-width: 1200px) {
    .header {
      font-size: 52px; } }

.arrowhead {
  left: 50%;
  margin-left: -2.5vw;
  position: absolute;
  width: auto;
  height: 0;
  border-style: solid;
  border-width: 0 5vw 5vw 0;
  border-color: transparent #a7a7a7 transparent transparent; }

.arrowbody {
  display: block;
  margin: 0 auto;
  background: url("/images/arrow-body.svg") no-repeat;
  background-size: contain;
  width: 10vw;
  height: 10vw; }

.title-first {
  position: absolute;
  right: 52%;
  margin-right: 2.5vw; }

.title-second {
  position: absolute;
  left: 50%;
  margin-left: 2.5vw; }

.contact-us {
  font-size: 12px; }
  .contact-us .contact-link {
    text-decoration: none;
    margin-right: 5px; }
    .contact-us .contact-link:hover {
      text-decoration: underline;
      font-style: italic; }
    .contact-us .contact-link i {
      font-size: 20px;
      margin-right: 2px; }
    .contact-us .contact-link:not(:last-child) {
      margin-right: 8px; }
      .contact-us .contact-link:not(:last-child):after {
        font-size: 20px;
        content: " /";
        margin-left: 2px; }

.slide-over {
  z-index: 50;
  position: relative;
  margin-top: 60vh;
  background-color: rgba(0, 0, 0, 0.8);
  margin-bottom: 30vh; }
  @media (max-width: 768px) {
    .slide-over {
      margin-top: 50vw; } }

.fullscreen-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat; }

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+31,4e92c9+60,7db9e8+100 */
.blue-background {
  background: #457fca;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3178d4, #5691c8);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #457fca, #5691c8);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.members {
  font-size: 14px; }
  .members p {
    margin-bottom: 0.5em;
    margin-top: 0; }

.instrument {
  font-style: italic;
  margin-left: 10px;
  font-size: .8em;
  line-height: 1em;
  vertical-align: center; }

.player {
  /* Font Family
================================================== */
  /* Desktop
================================================== */
  /* Tablet (Portrait)
================================================== */
  /* Mobile (Portrait)
================================================== */
  /* Mobile (Landscape)
================================================== */
  /* Typography
================================================== */
  /* Links
================================================== */
  /* Misc.
================================================== */
  /* Custom Styles
================================================== */
  /* Highlight Styles */
  /* Audio Player Styles
================================================== */
  /* Default / Desktop / Firefox */
  /* IE 9 */
  /* IE 10 */
  /* IE 11 */
  /* All Apple Products */
  /* IOS 7 */
  /* IOS 8 */
  /* IOS 9 */
  /* Chrome */
  /* Chrome / Android / Tablet */
  /* Audio Player Media Queries
================================================== */
  /* Tablet Portrait */
  /* Mobile Landscape */
  /* Mobile Portrait */ }
  .player .container {
    position: relative;
    margin: 0 auto;
    width: 700px; }
  .player .column {
    width: inherit; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .player .container {
      width: 556px; } }
  @media only screen and (max-width: 767px) {
    .player .container {
      width: 300px; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .player .container {
      width: 420px; } }
  .player h1, .player h6, .player p {
    color: #808080;
    font-weight: 200; }
  .player h1 {
    font-size: 42px;
    line-height: 44px;
    margin: 20px 0 0; }
  .player h6 {
    font-size: 18px;
    line-height: 20px;
    margin: 4px 0 20px; }
  .player p {
    font-size: 18px;
    line-height: 20px;
    margin: 0 0 2px; }
  .player a, .player a:visited {
    color: #ddd;
    outline: 0;
    text-decoration: underline; }
  .player a:hover, .player a:focus {
    color: #bbb; }
  .player p a, .player p a:visited {
    line-height: inherit; }
  .player .add-bottom {
    margin-bottom: 20px !important; }
  .player .left {
    float: left; }
  .player .right {
    float: right; }
  .player .center {
    text-align: center; }
  .player ::selection {
    background-color: #262223;
    color: #444; }
  .player audio {
    margin: 0 15px 0 14px;
    width: 670px; }
  .player #mainwrap {
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.25); }
  .player #audiowrap {
    background-color: #231F20;
    margin: 0 auto; }
  .player #plwrap {
    margin: 0 auto; }
  .player #tracks {
    position: relative;
    text-align: center; }
  .player #nowPlay {
    display: inline; }
  .player #npTitle {
    margin: 0;
    padding: 21px;
    text-align: right; }
  .player #npAction {
    padding: 21px;
    position: absolute; }
  .player #plList {
    margin: 0;
    padding: 0; }
  .player #plList li {
    background-color: #231F20;
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 21px 0; }
  .player #plList li:hover {
    background-color: #262223; }
  .player .plItem {
    position: relative; }
  .player .plTitle {
    left: 50px;
    overflow: hidden;
    position: absolute;
    right: 65px;
    text-overflow: ellipsis;
    top: 0;
    white-space: nowrap; }
  .player .plNum {
    padding-left: 21px;
    width: 25px; }
  .player .plLength {
    padding-left: 21px;
    position: absolute;
    right: 21px;
    top: 0; }
  .player .plSel, .player .plSel:hover {
    background-color: #262223 !important;
    cursor: default !important; }
  .player a[id^="btn"] {
    background-color: #231F20;
    color: #C8C7C8;
    cursor: pointer;
    display: inline-block;
    font-size: 50px;
    margin: 0;
    padding: 21px 27px;
    text-decoration: none; }
  .player a[id^="btn"]:last-child {
    margin-left: -4px; }
  .player a[id^="btn"]:hover, .player a[id^="btn"]:active {
    background-color: #262223; }
  .player a[id^="btn"]::-moz-focus-inner {
    border: 0;
    padding: 0; }
  .player html[data-useragent*="MSIE 9.0"] audio {
    margin-left: 9px;
    outline: none;
    width: 680px; }
  .player html[data-useragent*="MSIE 9.0"] #audiowrap {
    background-color: #000; }
  .player html[data-useragent*="MSIE 9.0"] a[id^="btn"] {
    background-color: #000; }
  .player html[data-useragent*="MSIE 9.0"] a[id^="btn"]:hover {
    background-color: #080808; }
  .player html[data-useragent*="MSIE 9.0"] #plList li {
    background-color: #000; }
  .player html[data-useragent*="MSIE 9.0"] #plList li:hover {
    background-color: #080808; }
  .player html[data-useragent*="MSIE 9.0"] .plSel,
  .player html[data-useragent*="MSIE 9.0"] .plSel:hover {
    background-color: #080808 !important; }
  .player html[data-useragent*="MSIE 10.0"] audio {
    margin-left: 6px;
    width: 687px; }
  .player html[data-useragent*="MSIE 10.0"] #audiowrap {
    background-color: #000; }
  .player html[data-useragent*="MSIE 10.0"] a[id^="btn"] {
    background-color: #000; }
  .player html[data-useragent*="MSIE 10.0"] a[id^="btn"]:hover {
    background-color: #080808; }
  .player html[data-useragent*="MSIE 10.0"] #plList li {
    background-color: #000; }
  .player html[data-useragent*="MSIE 10.0"] #plList li:hover {
    background-color: #080808; }
  .player html[data-useragent*="MSIE 10.0"] .plSel,
  .player html[data-useragent*="MSIE 10.0"] .plSel:hover {
    background-color: #080808 !important; }
  .player html[data-useragent*="rv:11.0"] audio {
    margin-left: 2px;
    width: 695px; }
  .player html[data-useragent*="rv:11.0"] #audiowrap {
    background-color: #000; }
  .player html[data-useragent*="rv:11.0"] a[id^="btn"] {
    background-color: #000; }
  .player html[data-useragent*="rv:11.0"] a[id^="btn"]:hover {
    background-color: #080808; }
  .player html[data-useragent*="rv:11.0"] #plList li {
    background-color: #000; }
  .player html[data-useragent*="rv:11.0"] #plList li:hover {
    background-color: #080808; }
  .player html[data-useragent*="rv:11.0"] .plSel,
  .player html[data-useragent*="rv:11.0"] .plSel:hover {
    background-color: #080808 !important; }
  .player html[data-useragent*="Apple"] audio {
    margin: 0;
    width: 100%; }
  .player html[data-useragent*="Apple"] #audiowrap {
    background-color: #000; }
  .player html[data-useragent*="Apple"] a[id^="btn"] {
    background-color: #000; }
  .player html[data-useragent*="Apple"] a[id^="btn"]:hover {
    background-color: #080808; }
  .player html[data-useragent*="Apple"] #plList li {
    background-color: #000; }
  .player html[data-useragent*="Apple"] #plList li:hover {
    background-color: #080808; }
  .player html[data-useragent*="Apple"] .plSel,
  .player html[data-useragent*="Apple"] .plSel:hover {
    background-color: #080808 !important; }
  .player html[data-useragent*="OS 7"] body {
    color: #373837; }
  .player html[data-useragent*="OS 7"] audio {
    margin-left: 3px;
    width: 690px; }
  .player html[data-useragent*="OS 7"] #audiowrap {
    background-color: #e6e6e6; }
  .player html[data-useragent*="OS 7"] a[id^="btn"] {
    background-color: #e6e6e6;
    color: #373837; }
  .player html[data-useragent*="OS 7"] a[id^="btn"]:hover {
    background-color: #eee; }
  .player html[data-useragent*="OS 7"] #plList li {
    background-color: #e6e6e6; }
  .player html[data-useragent*="OS 7"] #plList li:hover {
    background-color: #eee; }
  .player html[data-useragent*="OS 7"] .plSel,
  .player html[data-useragent*="OS 7"] .plSel:hover {
    background-color: #eee !important; }
  .player html[data-useragent*="OS 8"] body {
    color: #373837; }
  .player html[data-useragent*="OS 8"] audio {
    margin-left: 6px;
    width: 694px; }
  .player html[data-useragent*="OS 8"] #audiowrap {
    background-color: #e4e4e4; }
  .player html[data-useragent*="OS 8"] a[id^="btn"] {
    background-color: #e4e4e4;
    color: #373837; }
  .player html[data-useragent*="OS 8"] a[id^="btn"]:hover {
    background-color: #eee; }
  .player html[data-useragent*="OS 8"] #plList li {
    background-color: #e4e4e4; }
  .player html[data-useragent*="OS 8"] #plList li:hover {
    background-color: #eee; }
  .player html[data-useragent*="OS 8"] .plSel,
  .player html[data-useragent*="OS 8"] .plSel:hover {
    background-color: #eee !important; }
  .player html[data-useragent*="OS 9"] body {
    color: #373837; }
  .player html[data-useragent*="OS 9"] audio {
    margin-left: 6px;
    width: 694px; }
  .player html[data-useragent*="OS 9"] #audiowrap {
    background-color: #d5d5d5; }
  .player html[data-useragent*="OS 9"] a[id^="btn"] {
    background-color: #d5d5d5;
    color: #373837; }
  .player html[data-useragent*="OS 9"] a[id^="btn"]:hover {
    background-color: #eee; }
  .player html[data-useragent*="OS 9"] #plList li {
    background-color: #d5d5d5; }
  .player html[data-useragent*="OS 9"] #plList li:hover {
    background-color: #eee; }
  .player html[data-useragent*="OS 9"] .plSel,
  .player html[data-useragent*="OS 9"] .plSel:hover {
    background-color: #eee !important; }
  .player html[data-useragent*="Chrome"] body {
    color: #5a5a5a; }
  .player html[data-useragent*="Chrome"] audio {
    margin-left: 9px;
    width: 677px; }
  .player html[data-useragent*="Chrome"] #audiowrap {
    background-color: #fafafa; }
  .player html[data-useragent*="Chrome"] a[id^="btn"] {
    background-color: #fafafa;
    color: #5a5a5a; }
  .player html[data-useragent*="Chrome"] a[id^="btn"]:hover {
    background-color: #eee; }
  .player html[data-useragent*="Chrome"] #plList li {
    background-color: #fafafa; }
  .player html[data-useragent*="Chrome"] #plList li:hover {
    background-color: #eee; }
  .player html[data-useragent*="Chrome"] .plSel,
  .player html[data-useragent*="Chrome"] .plSel:hover {
    background-color: #eee !important; }
  .player html[data-useragent*="Chrome"][data-useragent*="Android"] body {
    color: #373837; }
  .player html[data-useragent*="Chrome"][data-useragent*="Android"] audio {
    margin-left: 4px;
    width: 689px; }
  .player html[data-useragent*="Chrome"][data-useragent*="Android"] #audiowrap {
    background-color: #fafafa; }
  .player html[data-useragent*="Chrome"][data-useragent*="Android"] a[id^="btn"] {
    background-color: #fafafa;
    color: #373837; }
  .player html[data-useragent*="Chrome"][data-useragent*="Android"] a[id^="btn"]:hover {
    background-color: #eee; }
  .player html[data-useragent*="Chrome"][data-useragent*="Android"] #plList li {
    background-color: #fafafa; }
  .player html[data-useragent*="Chrome"][data-useragent*="Android"] #plList li:hover {
    background-color: #eee; }
  .player html[data-useragent*="Chrome"][data-useragent*="Android"] .plSel,
  .player html[data-useragent*="Chrome"][data-useragent*="Android"] .plSel:hover {
    background-color: #eee !important; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .player audio {
      width: 526px; }
    .player html[data-useragent*="MSIE 9.0"] audio {
      width: 536px; }
    .player html[data-useragent*="MSIE 10.0"] audio {
      width: 543px; }
    .player html[data-useragent*="rv:11.0"] audio {
      width: 551px; }
    .player html[data-useragent*="OS 7"] audio {
      width: 546px; }
    .player html[data-useragent*="OS 8"] audio {
      width: 550px; }
    .player html[data-useragent*="OS 9"] audio {
      width: 550px; }
    .player html[data-useragent*="Chrome"] audio {
      width: 533px; }
    .player html[data-useragent*="Chrome"][data-useragent*="Android"] audio {
      margin-left: 4px;
      width: 545px; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .player audio {
      width: 390px; }
    .player html[data-useragent*="MSIE 9.0"] audio {
      width: 400px; }
    .player html[data-useragent*="MSIE 10.0"] audio {
      width: 407px; }
    .player html[data-useragent*="rv:11.0"] audio {
      width: 415px; }
    .player html[data-useragent*="OS 7"] audio {
      width: 410px; }
    .player html[data-useragent*="OS 8"] audio {
      width: 414px; }
    .player html[data-useragent*="OS 9"] audio {
      width: 414px; }
    .player html[data-useragent*="Chrome"] audio {
      width: 397px; }
    .player html[data-useragent*="Chrome"][data-useragent*="Mobile"] audio {
      margin-left: 4px;
      width: 410px; }
    .player #npTitle {
      width: 245px; } }
  @media only screen and (max-width: 479px) {
    .player audio {
      width: 270px; }
    .player html[data-useragent*="MSIE 9.0"] audio {
      width: 280px; }
    .player html[data-useragent*="MSIE 10.0"] audio {
      width: 287px; }
    .player html[data-useragent*="rv:11.0"] audio {
      width: 295px; }
    .player html[data-useragent*="OS 7"] audio {
      width: 290px; }
    .player html[data-useragent*="OS 8"] audio {
      width: 294px; }
    .player html[data-useragent*="OS 9"] audio {
      width: 294px; }
    .player html[data-useragent*="Chrome"] audio {
      width: 277px; }
    .player html[data-useragent*="Chrome"][data-useragent*="Mobile"] audio {
      margin-left: 4px;
      width: 290px; }
    .player #npTitle {
      width: 167px; } }

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+31,4e92c9+60,7db9e8+100 */
.blue-background {
  background: #457fca;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3178d4, #5691c8);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #457fca, #5691c8);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.pitch {
  font-size: 24px;
  text-align: center; }

html {
  background-color: black;
  padding: 0 2vw; }
