<div class="slide-over">
  
  <div class="row center no-bottom-margin">
    <div class="col-1of2">
      <p> We are a four-piece Chicago, IL Band touching Rock, Pop, Experimental, Alternative, and Shoegaze. We want to play your next gig.  </p>
      
      <p> <a href="https://www.soundcloud.com/thebrokenarrowcomplex/">Listen</a> to our music or 
        <a href="https://music.kylemattimore.com/" target="_blank">download</a> it for free!
      </p>
    </div>
  </div> 

  {{#if page.eventLabel}}
    <div class="row no-top-margin">
      <div class="col-1of2 right">
        {{{page.eventLabel}}}
       </div>
      <div class="col-1of2">
        {{{page.events}}}
       </div>
    </div>
  {{/if}}

  <div class="row center contact-us">
    <div class="col">
      
      <a class="contact-link" href="https://www.facebook.com/thebrokenarrowcomplex/" target="_blank">
        <i class="fa fa-facebook"></i>facebook</a>  
      
      <a class="contact-link"  href="https://www.instagram.com/thebrokenarrowcomplex/" target="_blank"> 
        <i class="fa fa-instagram"></i>insta</a>  
      
      <a class="contact-link" href="https://www.soundcloud.com/thebrokenarrowcomplex/" target="_blank">
        <i class="fa fa-soundcloud"></i>sc</a>  
        
      <a class="contact-link" href="https://www.youtube.com/channel/UCz4eR-0-6FBGZd0e-ScM47Q" target="_blank">
        <i class="fa fa-youtube"></i>yt</a>  
      
      <a class="contact-link" href="mailto:kylemattimore@gmail.com">
        <i class="fa fa-envelope"></i>email </a> 
      
      <a class="contact-link" href="tel:+17349560456">
        <i class="fa fa-phone"></i>phone </a>  
        
      <a class="contact-link" href="https://www.youtube.com/watch?v=McBUIrvRRp0" target="_blank">
        <i class="fa fa-fire"></i>whatever </a>
    </div>
  </div>
  
  <div class="row center members">
    <div class="col-1of2">
      <br>
      <h3>Members</h3>
      <p> Sergio Rego <span class="instrument"> Acoustic Guitar, Drums, Bass </span> </p>
      <p> Peter Alvarez <span class="instrument"> Piano, Bass, Acoustic Guitar </span> </p>
      <p> Kyle Mattimore <span class="instrument"> Vocals, Electric Guitar, Production, Beatbox </span> </p>
      <p> Erin O'Connell <span class="instrument"> Vocals, Bass</span> </p>
    </div>
      
    
  </div>
  
  <br />
  
  <div class="row center soundcloud"> 
    <div class="col-1of2">
      <iframe width="100%" height="auto" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/279124493&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    </div>
  </div>
  
  <div class="row center soundcloud"> 
    <div class="col-1of2">
      <div class='embed-container'><iframe src='https://www.youtube.com/embed/0jBgfBtestc' frameborder='0' allowfullscreen></iframe></div>
    </div>
  </div>
    
</div>