<div class="header"> 
  <span class="title-first">
    the broken 
  </span>
  

  <span class="title-second">
  rrow complex
  </span>
  
  <span class="title-third">
  
  </span>
  
  <div class="arrow">
    <div class="arrowhead"></div>
    <div class="arrowbody arrowbody-inline"></div>
  </div>
  
</div>