.fullscreen-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  
  width: 100vw;
  height: 100vh;
  
  // background-image: url('/images/cover.jpg');
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  
}