@import "vars";

$arrowhead-width: 5vw;
$arrowhead-height: $arrowhead-width;
$arrowbody-width: 10vw;

.header {
  color: $logo-text-color;
  margin-top: 2vh;
  @media (min-width: $huge-break) { 
    margin-top: 5vh;
  } 
  position: relative;
  font-family: "Lucida Console", Monaco, monospace; 
  font-size: 4.5vw;
  // font-weight: bold; //looks bad
  text-align: center;
  
  @media (min-width: $huge-break) {
    font-size: 60px;
  }
}



