.members {
  font-size: 14px;
  p {
    margin-bottom: 0.5em;
    margin-top: 0;
  }
}

.instrument {
  font-style: italic;
  margin-left: 10px;
  font-size: .8em;
  line-height: 1em;
  vertical-align: center;
}